**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/logs
**/.idea
**/node_modules
**/*.user
**/*.suo
**/*.md
**/*.ps1
**/*.sql
**/Thumbs.db
**/Desktop.ini
.git
.gitignore
Dockerfile
docker-compose*.yml
